@{
    ViewData["Title"] = "Home Page";
}

<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
<link Href="https://www.fontify.me/wf/f6e2e931edd4f5a2fc4d874471baa56a" rel="stylesheet">


@* blue background-color: #1e4e9d
    grey: #394347
    yellow: #F7F410
*@

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<style>





    * {
        padding: 0;
        margin: 0;
    }


    .login-container {
        font-family: 'Roboto', sans-serif;
        display: block;
        background-color: #394347;
        border-radius: 25px;
        height: 45vh;
        width: 60vh;
        margin: auto;
        margin-top: 2.5em;
        margin-bottom: 2.5em;
        padding: 1em;
        justify-content: center;
        text-align: center;
    }


    h3 {
        font-size: 2em;
        margin-top: 0.25em;
        font-weight: bolder;
        color: #fff;
        font-family: font92774;
        margin-bottom: 1em;
    }

    h4 {
        font-size: 1.25em;
        margin-top: 0.25em;
        font-weight: bolder;
        color: #fff;
    }

    .email, .password {
        margin: 1em;
    }

    .submitbutton {
        background-color: #fff;
        border-radius: 25px;
        color: #394347;
        font-family: 'Roboto', sans-serif;
        font-size: 1.25em;
        text-align: center;
        justify-content: center;
        align-items: center;
        display: block;
        margin: 0 auto;
        opacity: 0.5;
        font-weight: bolder;
        text-decoration: none;
        border-style: hidden;
        margin-top: 2em;
        /*Transition*/
        -webkit-transition: all 1.5s ease;
        -moz-transition: all 1.5s ease;
        -o-transition: all 1.5s ease;
        height: 40px;
        width: 100px;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }

        .submitbutton:hover {
            background-color: #fff;
            color: #394347;
            opacity: 1;
            -webkit-box-shadow: 0px 0px 20px#393e41(255,255,255,0.8);
            -moz-box-shadow: 0px 0px 20px#393e41(255,255,255,0.8);
            box-shadow: 0px 0px 20px#393e41(255,255,255,0.8);
        }

    .email input, .password input {
        border-radius: 25px;
        padding-left: 1.5em;
        padding: 0.5em, 0em;
        height: 5vh;
        width: 40vh;
        margin-top: 1em;
        text-align: left;
        font-size: 1em;
        border-style: solid;
        border-color: #fff;
    }
</style>
<form class="login" action="/Methods/Login" method="get">

    <br />
    <div class="login-container">

        <h3 class="login-title" align="center">Sign In</h3>

        <div class="email">
            <h4>Email:</h4>
            <input type="text" name="Email" placeholder="Email" />
        </div>
        <div class="password">
            <h4>Password: </h4>
            <input type="password" name="Password" placeholder="Password" />
        </div>

        <input class="submitbutton" type="submit" value="Sign In" />



    </div>
</form>

<p>@ViewBag.Message</p>
