@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using System;
@using System.Data.SqlClient;
@{

}

    <h1>Employee Details</h1>
    <table border="1" width="100%">
        <tr>
            <th>Employee ID</th>
            <th>Employee Name</th>
            <th>Job Title</th>
            <th>Workplace</th>
            <th>Email</th>
            <th>Phone Number</th>
        </tr>
    </table>
<table>@ViewData["SelectAll"]</table>
